fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.2.2
python-multipart==0.0.20
pydantic==2.10.4
pypdf==5.1.0
python-docx==1.1.2
PyMuPDF==1.24.14
requests==2.32.3
openai==1.59.6
pygame==2.6.1
numpy==1.26.4
mediapipe==0.10.21
opencv-python==4.11.0.86
opencv-contrib-python==4.11.0.86
GazeFollower
